@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Francois+One&family=Kdam+Thmor+Pro&Martian+Mono:wght@300;700&family=Merriweather&family=Playfair+Display&family=Roboto:wght@400;700&family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* Primary Colors */
  --primary-1: #3b96d0;
  --primary-2: #39a1d9;
  --primary-3: #89c4ed;

  /* Secondary Colors */
  --secondary-1: #fadeed;
  --secondary-2: #fbf0f5;

  /* Rest of the colors */
  --black: #222;
  --white: #fff;
  --grey-light: #cbd5e1;
  --grey-darker: #94a3b8;
  --grey-darkest: #0f172a;

  /* vars */
  --backgroundColor: var(--white);
  --textColor: var(--grey-darkest);
  --borderRadius: 0.25rem;
  --rounded-full: 9999px;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* shadow */

  --shadow-color: 0deg 0% 67%;
  --shadow-elevation-low: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0.4px 0.8px 0.9px -1.5px hsl(var(--shadow-color) / 0.32),
    0.9px 1.9px 2.2px -3px hsl(var(--shadow-color) / 0.28);
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.38),
    0.7px 1.4px 1.6px -1px hsl(var(--shadow-color) / 0.35),
    1.9px 3.7px 4.4px -2px hsl(var(--shadow-color) / 0.32),
    4.7px 9.4px 11px -3px hsl(var(--shadow-color) / 0.28);
  --shadow-elevation-high: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.35),
    1.1px 2.2px 2.6px -0.4px hsl(var(--shadow-color) / 0.34),
    2.1px 4.2px 4.9px -0.9px hsl(var(--shadow-color) / 0.32),
    3.6px 7.1px 8.4px -1.3px hsl(var(--shadow-color) / 0.31),
    5.9px 11.8px 13.9px -1.7px hsl(var(--shadow-color) / 0.29),
    9.5px 19px 22.3px -2.1px hsl(var(--shadow-color) / 0.28),
    14.7px 29.5px 34.6px -2.6px hsl(var(--shadow-color) / 0.26),
    22px 44px 51.7px -3px hsl(var(--shadow-color) / 0.25);

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}

p {
  margin: 0;
  font-family: 'SUSE', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-family: 'SUSE', sans-serif;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

a {
  text-decoration: none;
}

.btn {
  font-family: 'SUSE', sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: var(--primary-2);
  border: none;
  border-radius: 40px;
  padding: 1em 3em;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-elevation-high);
  scale: 1.125;
}

.btn::before {
  background-color: var(--primary-1);
  border-radius: 100%;
  width: 150%;
  height: 300%;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 100%;
  content: '';
  transition: 0.4s all ease-in-out;
}

.btn:hover::before {
  top: -50%;
  left: -30%;
}

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.hero-center {
  background-size: cover;
  width: 95vw;
  max-width: 100%;
  height: 600px;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
    display: flex;
    margin-right: 2rem;
}

.img-center {
    position: relative;
}

.shadow {
  background-color: var(--primary-1);
  z-index: -1;
  width: 580px;
  height: 380px;
  position: absolute;
  top: 2rem;
  left: 10rem;
  transform: rotate(90deg);
  border-radius: 30px;
}

@media (max-width: 768px) {
  .shadow {
    display: none;
  }
}

.tech-hero-center {
  background-image: url(./assets/images/logos/new-tech-hero-img.png);
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  height: 80vh;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
}

.about-page-hero {
  background-image: url(./assets/images/logos/about-page-img-compressed.jpg);
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  height: 80vh;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  gap: 1.5rem;
  font-family: 'SUSE', sans-serif;
}

/* Publications */

.publications-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: 3;
}

.turn-page-header {
  font-size: 24px;
  text-align: center;
  width: 80vw;
}

.turn-page-center {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

/* Magazine */



.publications-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: .75rem;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
}

.magazine-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.magazine-title {
  font-size: 18px;
  font-family: 'SUSE', sans-serif;
  line-height: 1.5rem;
  align-content: center;
  text-align: center;
  width: 75%;
}

.magazine-header {
  border-color: var(--primary-1);
  border-top: solid;
  width: 50%;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

.cover-page,
.inside-cover-page,
.content-page,
.back-cover-page {
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
}

.cover-page {
  display: flex !important;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: linear-gradient(to bottom right, #5b7fff, #33ccfc);
}

.inside-cover-page,
.content-page {
  background: white;
}

.back-cover-page {
  background: linear-gradient(to bottom right, #5b7fff, #33ccfc);
}

.cover-img {
  width: 225px;
  height: 250px;
  margin-top: 1.5rem;
}

.inside-cover-page {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.magazine-inside-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
}

.magazine-authors,
.magazine-journal {
  width: 80% !important;
  line-height: 1.25rem !important;
}

.magazine-inside-img {
  justify-self: end !important;
  width: 100%;
  height: 50%;
  border-radius: 8px;
}

.content-page {
  display: flex !important;
  flex-direction: column;
  justify-content: end;
}

.content-body {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  line-height: 1.5rem !important;
  text-align: center !important;
  height: 100% !important;
  width: 100% !important;
  font-family: 'SUSE', sans-serif;
}

svg {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.magazine-link {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
  font-size: 16px;
}

.inside-cover-page:hover {
  box-shadow: var(--shadow-elevation-high);
}

/* About page */

.about-page-title {
  color: white;
}

.about-page-hero {
  max-height: 500px;
}

.about-page-team {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-page-header {
  text-align: center;
  color: white;
}

.leadership-header {
  margin-bottom: 3rem;
}

.about-page-bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  width: 90vw;
  text-align: center;
  padding: 5rem 2rem;
  line-height: 2rem;
  text-align: justify;
  min-height: 400px;
}

@media (max-width: 768px) {
  .about-page-bio {
    padding: 5rem 2rem;
    text-align: justify;
    height: auto;
  }
}

.team {
  height: 100vh;
}

.slide {
  height: 80vh;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px !important;
  border-radius: 30px;
  gap: 1rem;
  box-shadow: var(--shadow-elevation-medium);
  margin-bottom: 3rem;
}

.slide-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;

  margin-bottom: 1rem;
  object-fit: cover;
  box-shadow: var(--shadow-elevation-high);
}

/* team section */

.team-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-bottom: 4rem;
}

.team-member {
  background-color: white;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 55vh;
  position: relative;
  gap: 2rem;
  box-shadow: var(--shadow-elevation-medium);
  position: relative;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.team-member:hover {
  box-shadow: var(--shadow-elevation-high);
  scale: 1.1;
}

.single-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.member-name {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.member-title {
  text-align: center;
  font-size: 20px;
}

/* Modal */

dialog {
  margin: auto;
  border: none;
  background-color: transparent;
}

.dialog-nav img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2%;
}

.dialog-nav h1 {
  font-size: 28px;
  font-weight: 700;
}

.dialog-nav h2 {
  font-size: 24px;
}

.dialog-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  background-color: var(--primary-1);
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  gap: 2%;
}

.dialog-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 40vw;
  border-radius: 30px;
  background-color: white;
}

@media (max-width: 768px) {
  .dialog-center {
    width: 90vw;
    height: 95vh;
  }

  .dialog-nav h1 {
    font-size: 24px;
  }

  .dialog-nav h2 {
    font-size: 20px;
  }

  .dialog-center p {
    line-height: 1rem;
  }
  
}

.dialog-center p {
  font-size: 16px;
  margin: 5% 8% 5% 8%;
  text-align: center;
  line-height: 1.15rem;
}

.dialog-center button {
  font-size: 50px;
  justify-self: baseline;
  margin-bottom: 2%;
  padding: auto;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.dialog-center button:hover {
  scale: 1.125;
  color: var(--primary-1);
}

@media (max-width: 768px) {
  .team-member {
    width: 70vw;
  }

  .single-member {
        gap: .5rem;
  }

  .about-page-bio {
    width: 100vw;
    font-size: 20px;
  }

  .leadership-header {
    font-size: 32px;
  }
}

/* animation */

@keyframes appear {
  from {
    opacity: 0;
    transform: translate(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes appear-up {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/* 
.appear-up {
  animation: appear-up linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.fade-in {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.footer-fade {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
} */

@keyframes fade-up {
  from {
    opacity: 0.25;
    transform: translateY(30px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up-shadow {
  from {
    opacity: 0;
    transform: rotate(90deg) translateY(30px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: rotate(90deg) translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-30px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* .nav-fade {
  animation: fade-down 1.5s;
} */

.load-fade {
  animation: fade-up 1.5s;
}

.load-fade-shadow {
  animation: fade-up-shadow 3s;
}
